<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wairoadc.godiscover" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Go_theme" >
        <activity
            android:name=".view.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".view.activities.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".view.activities.StaticMapActivity"
            android:label="@string/title_activity_static_map" >
        </activity>
        <activity
            android:name=".view.activities.StoryActivity"
            android:label="@string/title_activity_story" >
        </activity>
        <activity
            android:name=".view.activities.ProgressActivity"
            android:label="@string/title_activity_progress" >
        </activity>
        <activity
            android:name=".view.activities.RedirectActivity"
            android:label="@string/title_activity_redirect" >
        </activity>
        <activity
            android:name=".view.activities.ScanQRActivity"
            android:label="@string/title_activity_scan_qr" >
        </activity>
        <activity
            android:name=".view.activities.RefreshActivity"
            android:label="@string/title_activity_refresh" >
        </activity>
        <activity
            android:name=".view.activities.InformationActivity"
            android:label="@string/title_activity_information" >
        </activity>

        <service android:name=".services.DownloadService"></service>
    </application>

</manifest>
